@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input::placeholder {
  color: rgb(255, 255, 255, 0.7);
  font-weight: 600;
}

.font-lucky {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar for SandiaCardPreview */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */


/* Custom scrollbar styles */
.speech-bubble::-webkit-scrollbar {
  width: 6px;
}

.speech-bubble::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.speech-bubble::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.speech-bubble::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import './ScrollableBox.module.css';
