@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  cursor: url("/cursor/cursoryellow.svg"), auto;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.7);
  font-weight: 600;
}

button {
  cursor: url("/cursor/pointercat.svg"), auto;
}

.font-lucky {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@import "./SpeechBubbleStyles.css";
@import "./ScrollableBox.module.css";

.burbuja,
.burbujaDos,
.burbujaTres,
.burbujaCuatro,
.burbujaCinco,
.burbujaSeis,
.burbujaSiete,
.burbujaOcho,
.burbujaNueve,
.burbujaDiez,
.burbujaOnce,
.burbujaDoce,
.burbujaBurbuja,
.burbujaDosDos,
.burbujaTresTres,
.burbujaCuatroCuatro,
.burbujaCincoCinco,
.burbujaSeisSeis,
.burbujaSieteSiete,
.burbujaOchoOcho,
.burbujaNueveNuev,
.burbujaDiezDiez,
.burbujaOnceOnce,
.burbujaDoceDoce {
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(245, 239, 207, 0.9);
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(255, 217, 0, 0.218), 0 0 20px rgb(239, 239, 238),
    0 0 50px rgb(248, 246, 246);
  box-shadow: black;
}

.burbuja {
  animation: animate2 15s linear infinite;
  margin: 0 100px;
}
.burbujaBurbuja {
  animation: animate2 10s linear infinite;
  margin: 0 100px;
}
.burbujaDos {
  animation: animate 6s linear infinite;
  margin: 0 300px;
}
.burbujaDosDos {
  animation: animate 14s linear infinite;
  margin: 0 300px;
}
.burbujaTres {
  animation: animate2 7s linear infinite;
  margin: 0 500px;
}
.burbujaTresTres {
  animation: animate2 15s linear infinite;
  margin: 0 500px;
}
.burbujaCuatro {
  animation: animate 6s linear infinite;
  margin: 0 700px;
}
.burbujaCuatroCuatro {
  animation: animate 8s linear infinite;
  margin: 0 700px;
}
.burbujaCinco {
  animation: animate2 9s linear infinite;
  margin: 0 800px;
}
.burbujaCincoCinco {
  animation: animate2 15s linear infinite;
  margin: 0 800px;
}
.burbujaSeis {
  animation: animate 10s linear infinite;
  margin: 0 1300px;
}
.burbujaSeisSeis {
  animation: animate2 17s linear infinite;
  margin: 0 1300px;
}
.burbujaSiete {
  animation: animate 6s linear infinite;
  margin: 0 1700px;
}
.burbujaSieteSiete {
  animation: animate 6s linear infinite;
  margin: 0 1700px;
}
.burbujaOcho {
  animation: animate2 8s linear infinite;
  margin: 0 1900px;
}
.burbujaOchoOcho {
  animation: animate2 15s linear infinite;
  margin: 0 1900px;
}
.burbujaNueve {
  animation: animate2 7s linear infinite;
  margin: 0 2100px;
}
.burbujaNueveNueve {
  animation: animate 10s linear infinite;
  margin: 0 2100px;
}
.burbujaDiez {
  animation: animate 6s linear infinite;
  margin: 0 2300px;
}
.burbujaDiezDiez {
  animation: animate2 10s linear infinite;
  margin: 0 2300px;
}
.burbujaOnce {
  animation: animate 7s linear infinite;
  margin: 0 800px;
}
.burbujaOnceOnce {
  animation: animate2 8s linear infinite;
  margin: 0 800px;
}
.burbujaDoce {
  animation: animate2 16s linear infinite;
  margin: 0 1300px;
}
.burbujaDoceDoce {
  animation: animate 9s linear infinite;
  margin: 0 1300px;
}

@keyframes animate {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translate(-40vh) scale(1.5);
  }
}
@keyframes animate2 {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translate(20vh) scale(2);
  }
}
@keyframes animate3Randy {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translate(25vh) scale(2);
  }
}

#burbuja {
  animation: animate3Randy 10s linear infinite alternate-reverse;
  margin: -50px 0px;
}

#burbuja2 {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    top: 20px;
  }
  25% {
    top: 22px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 27px;
  }
  100% {
    top: 25px;
  }
}
