/* Oculta la barra de desplazamiento vertical */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.content {
  word-wrap: break-word;
  width: 100%;
}
